/* ================================= Margin Css Start =========================== */
@each $property, $value in $spaces {
  .m-#{$property} {
    margin: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .mx-#{$property} {
    margin-inline: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .my-#{$property} {
    margin-block: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .ms-#{$property} {
    margin-inline-start: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .me-#{$property} {
    margin-inline-end: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .mt-#{$property} {
    margin-block-start: var(--size-#{$property}) !important;
  }
}

@each $property, $value in $spaces {
  .mb-#{$property} {
    margin-block-end: var(--size-#{$property}) !important;
  }
}

.ms-0 {
  @apply ml-0 !important;
}

.me-0 {
  @apply mr-0 !important;
}

.my-120 {
  @apply mb-[60px] mt-[60px] md:mb-[80px] md:mt-[80px] xl:mb-[120px] xl:mt-[120px] !important;
}
.mt-120 {
  @apply mt-[60px] md:mt-[80px] xl:mt-[120px] !important;
}
.mb-120 {
  @apply mb-[60px] md:mb-[80px] xl:mb-[120px] !important;
}
.my-60 {
  @apply mb-[30px] mt-[30px] md:mb-[40px] md:mt-[40px] xl:mb-[60px] xl:mt-[60px] !important;
}
.mt-60 {
  @apply mt-[30px] md:mt-[40px] xl:mt-[60px] !important;
}
.mb-60 {
  @apply mb-[30px] md:mb-[40px] xl:mb-[60px];
} /* ================================= Margin Css End =========================== */
