
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  color : black;
  background-color: white;
  /* font-family: Quicksand,sans-serif; */
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.header-css {
  justify-content: space-between;
}
.text-1xl {
  font-size: 1.3rem;
  line-height: 2rem;
}
.h-\[2500px\] {
  height: 362px;
}
.w-20 {
  width: 6.5rem;
}
.h-20 {
  height: 6.5rem;
}
.w-10 {
  width: 5.5rem;
}
.h-10 {
  height: 5.5rem;
}
.h-3{
  height:3.5rem;
}
.w-\[45\%\] {
  width:45%
}

.w-\[41\%\] {
  width:41%
}
.lg\:w-\[80\%\]{
  width:80%;
}


@media (width >= 1024px) {
  .lg\:col-span-10 {
      grid-column: span 10 / span 10;
  }
}

@media (width >= 1024px) {
  .lg\:grid-cols-10 {
      grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}

@media (width >= 1024px) {
  .lg\:grid-cols-11 {
      grid-template-columns: repeat(11, minmax(0, 1fr));
  }
}

@media (width >= 1024px) {
  .lg\:col-span-8 {
      grid-column: span 8 / span 8;
  }
}

.w-\[250px\]{
  width: 250px;
}

.w-\[300px\]{
  width: 300px;
}

.w-\[350px\]{
  width: 350px;
}

.w-\[400px\]{
  width: 400px;
}

.w-\[450px\]{
  width: 450px;
}

.w-\[500px\]{
  width: 500px;
}

.w-\[550px\]{
  width: 550px;
}

.w-\[600px\]{
  width: 600px;
}

.w-\[700px\]{
  width: 700px;
}

.w-\[750px\]{
  width: 750px;
}

.w-\[800px\]{
  width: 800px;
}

.w-\[850px\]{
  width: 850px;
}
.w-\[900px\]{
  width: 900px;
}

.w-\[950px\]{
  width: 950px;
}
.w-\[974px\]{
  width: 974px;
}
.ma-15{
      margin-left: 15.25rem;
}
.ma-8{
      margin-left: 45px;
}
.w-\[1000px\]{
  width: 1000px;
}

.w-\[1024px\]{
  width: 1024px;
}
.bg-red-yellow
{    background: -webkit-linear-gradient(left, #fb2c2c 0%, #e7e5d1 100%);}

.bg-red
{
background: -webkit-linear-gradient(left, #ed3237 0%, #ffe8e9 100%);
}
@font-face {
  font-family: 'Open Sans, sans-serif';
  src: url('../public/assets/fonts/Quicksand-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;  
}
.py-3 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem
}
/* styles/globals.css or any CSS file loaded globally */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
/* hide-scrollbar class for all browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* globals.css or tailwind.config */
.table {
  border-collapse: separate;
  border-spacing: 0;
}
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
