/* ================================= Form Css Start =========================== */
/* input Start */
.common-input {
  @apply w-full rounded-[5px] border border-solid border-gray-100 px-[24px] py-[17px] font-normal leading-none text-black outline-0 max-lg:px-[24px] max-lg:py-[12px] max-md:px-[16px] max-md:py-[10px];
  &.style-two {
    @apply text-black;
  }
  &.style-two {
    @apply bg-white !important;
  }
  &::placeholder {
    @apply text-[14px] font-normal text-gray-500 duration-200 ease-linear;
  }
  &--md {
    @apply px-[16px] py-[13px];
  }
  &--lg {
    @apply px-[24px] py-[23px] max-md:px-[24px] max-md:py-[18px];
  }
  &:focus {
    @apply border-main shadow-none;
    &::placeholder {
      @apply invisible opacity-0;
    }
  }
  &:disabled,
  &[readonly] {
    @apply border-0 bg-black-200 opacity-100;
  }
  &[type="password"] {
    @apply text-black-500 focus:text-black;
  }
  &[type="file"] {
    @apply relative p-0 leading-[50px];
    &::file-selector-button {
      @apply relative ml-[15px] rounded-[0.2em] border border-solid border-black-100 px-[6px] py-[4px] leading-[25px] duration-200 ease-linear;
      &:hover {
        @apply border border-solid border-main bg-main text-black;
      }
    }
  }
  &[type="file"] {
    @apply bg-main text-light !important;
  }
}
.common-input {
  @apply bg-transparent !important;
  &--withIcon {
    @apply pr-[50px] !important;
  }
  &--withLeftIcon {
    @apply pl-[50px] !important;
  }
}

/* input End */

/* input icon */
.input-icon {
  @apply absolute right-[24px] top-[50%] translate-y-[-50%] text-black;

  &--left {
    @apply left-[20px] right-auto;
  }
}
textarea + .input-icon {
  @apply top-[15px] translate-y-0;
}
/* input icon */

/* Label */
.form-label {
  @apply mb-[6px] font-medium text-black;
}

/* Form Select */
.select-has-icon {
  @apply relative;
  &::before {
    @apply pointer-events-none absolute right-[20px] top-[50%] translate-y-[-50%] font-phospor font-[900] text-main duration-200 ease-linear content-['\f107'];
  }
  &::before {
    @apply text-black !important;
  }
  &.icon-black::before {
    -webkit-text-fill-color: #121535;
  }
  select {
    @apply appearance-none bg-none px-[24px] py-[20px] text-[18px] max-lg:px-[24px] max-lg:py-[15px] max-md:px-[16px] max-md:py-[12px];
  }
  .common-input {
    @apply pr-[30px] !important;
  }
}
.select {
  @apply px-[24px] py-[16px] max-lg:px-[24px] max-lg:py-[11px] max-md:px-[24px] max-md:py-[9px];

  &:focus {
    @apply border-main outline-0;
  }
  &:focus {
    @apply text-black !important;
  }
  option {
    @apply bg-white text-black;
  }
}

.select {
  @apply text-black-600 !important;
}
/* Form Select End */

// Message Field Css
textarea {
  &.common-input {
    @apply h-[140px] max-md:h-[110px];
  }
}
/* Autofill Css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #121535 !important;
  caret-color: #121535;
}
/* Autofill Css End */

/* Show Hide Password */
input#your-password,
input#confirm-password {
  @apply pr-[50px];
}
.password-show-hide {
  @apply absolute right-[20px] top-[50%] z-[5] translate-y-[-50%] cursor-pointer text-black-400;
}

/* Number Arrow None */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom Checkbox & Radio Css Start */
.common-check {
  @apply mb-[16px] flex items-center last:mb-0;

  a {
    @apply inline;
  }
  &.common-radio {
    .form-check-input {
      @apply rounded-[50%];
      &:checked {
        @apply bg-transparent !important;
        &::after {
          @apply visible translate-x-[-50%] translate-y-[-50%] scale-[1] opacity-100;
        }
      }
    }
  }

  .form-check-input {
    @apply relative mt-0 h-[18px] w-[18px] cursor-pointer rounded-[3px] border border-solid border-black-400 bg-transparent duration-200 ease-linear;

    &::before {
      @apply invisible absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] font-phospor text-[12px] font-[900] text-white opacity-0 duration-200 ease-linear content-['\E182'];
    }
    &::after {
      @apply invisible absolute left-[50%] top-[50%] z-[1] h-[10px] w-[10px] translate-x-[-50%] translate-y-[-50%] scale-[0.2] rounded-[50%] bg-main opacity-0 duration-200 ease-linear content-[''];
    }
    &:checked {
      @apply border-main bg-main shadow-none !important;

      &[type="checkbox"] {
        @apply bg-none;
      }
      &::before {
        @apply visible opacity-100;
      }
    }
  }
  .form-check-input {
    @apply shadow-none !important;
  }
  .form-check-label {
    @apply w-[calc(100%-18px)] cursor-pointer pl-[12px] font-quicksand font-[500] text-black;
  }
}

.checked {
  &-black {
    .form-check-input {
      @apply border border-solid border-black;

      &::after {
        @apply bg-black;
      }
      &:checked {
        @apply border-black bg-black !important;
      }
    }
  }
  &-primary {
    .form-check-input {
      @apply border border-solid border-primary-600;

      &::after {
        @apply bg-primary-600;
      }
      &:checked {
        @apply border-primary-600 bg-primary-600 !important;
      }
    }
  }
  &-gray {
    .form-check-input {
      @apply border border-solid border-gray-600;

      &::after {
        @apply bg-gray-600;
      }
      &:checked {
        @apply border-gray-600 bg-gray-600 !important;
      }
    }
  }
  &-success {
    .form-check-input {
      @apply border border-solid border-success-600;

      &::after {
        @apply bg-success-600;
      }
      &:checked {
        @apply border-success-600 bg-success-600 !important;
      }
    }
  }
  &-danger {
    .form-check-input {
      @apply border border-solid border-danger-600;

      &::after {
        @apply bg-danger-600;
      }
      &:checked {
        @apply border-danger-600 bg-danger-600 !important;
      }
    }
  }
  &-purple {
    .form-check-input {
      @apply border border-solid border-tertiary-600;

      &::after {
        @apply bg-tertiary-600;
      }
      &:checked {
        @apply border-tertiary-600 bg-tertiary-600 !important;
      }
    }
  }
  &-white {
    .form-check-input {
      @apply border border-solid border-gray-100;

      &::after {
        @apply bg-gray-100;
      }
      &:checked {
        @apply border-gray-100 bg-gray-100 !important;
      }
    }
  }
}
/* Custom Checkbox & Radio Css End */

.toggle-password.active::before {
  @apply content-['\e220'] !important;
}
/* ================================= Form Css End =========================== */
